
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles1.css">
    <title>AIR GAP</title>
</head>
{% for piloto in pilotos %}

<body>

    <div class="container" id="advanced-search-form">
        

<form method="post" action="/updatePiloto">
            <input value="{{piloto[0]}}" type="hidden" name="txtVar" id="txtVar">
            <div class="form-group">
                <label for="first-name">Identificacion</label>
                <input type="number" value="{{piloto[1]}}"  name="txtId" class="form-control"  id="txtId">
                
            </div>
            <div class="form-group">
                <label for="last-name">Nombre</label>
                <input type="text" value="{{piloto[2]}}" name="txtNombre" class="form-control"  id="last-name">
            </div>
            <div class="form-group">
                <label for="country">Apellidos</label>
                <input type="text" value="{{piloto[3]}}" name="txtApellido" class="form-control"  id="country">
            </div>

          <div class="form-group">
                <label for="number">Genero</label>
                <select name="genero" method="GET" class="form-control">
                    <option value="1">Femenino</option>
                    <option value="2" selected>Masculino</option>
                </select>
            </div>

            <div class="form-group">
                <label for="number">Correo</label>
                <input type="email" value="{{piloto[5]}}" name="txtCorreo" class="form-control"  id="number">
            </div>
           
           <div class="form-group">
                <label for="age">Fecha de nacimiento</label>
                <input type="date" value="{{piloto[6]}}" name="txtFecha" class="form-control"  id="age">
            </div>


            <div class="form-group">
                <label for="email">Usuario</label>
                <input type="text" value="{{piloto[7]}}" name="txtUsuario" class="form-control"  id="email">
            </div>
            <div class="form-group">
                <label for="education">Contraseña</label>
                <input type="text" value="{{piloto[8]}}" name="txtContrasena" class="form-control"  id="education">
            </div>             
                       
           <h1>NO ESTA SIRVIENDO NO OLVIDAR</h1>
            <div class="clearfix"></div>
            
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">Editar</button>
</form>
{% endfor %}