<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles1.css">
    <title>AIR GAP</title>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">AIR GAP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
       <li class="active"><a href="/indexAdmin">Inicio</a></li>
        <li><a href="/userAdmin">Usuarios</a></li>
        <li><a href="/pilotAdmin">Pilotos</a></li>
        <li><a href="/flightAdmin">Vuelos</a></li>
        <li><a href="/rateAdmin">Calificaciones</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
    </div>
  </div>
</nav>


<body>

    <div class="container" id="advanced-search-form">
        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Gestion de vuelos</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/flightAdd">Agregar vuelo</a></li>
      <li><a href="/flightDelete">Eliminar vuelo</a></li>
      <li><a href="/flightEdit">Editar vuelo</a></li>
    </ul>
  </div>
</nav>

        <h2>Bienvenidos al sistema de gestion de vuelos</h2>
        
        
       
    

    </div>
    


</body>

</html>