<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles1.css">
    <title>AIR GAP</title>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">AIR GAP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/indexAdmin">Inicio</a></li>
        <li><a href="/userAdmin">Usuarios</a></li>
        <li><a href="/pilotAdmin">Pilotos</a></li>
        <li><a href="/flightAdmin">Vuelos</a></li>
        <li><a href="/rateAdmin">Calificaciones</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Usuario</a></li>
        <li><a href="/logoutAdmin"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
    </div>
  </div>
</nav>


<body>

    <div class="container" id="advanced-search-form">
        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Gestion de usuarios</a>
    </div>
    <ul class="nav navbar-nav">
      
      <li><a href="/userDelete">Eliminar usuario</a></li>
      <li><a href="/userEdit">Editar usuario</a></li>
    </ul>
  </div>
</nav>

         <form>
            <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Nombres</th>
      <th scope="col">Apellido</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
   <tr>
      <th scope="row">1</th>
      <td>1005605888</td>
      <td>Carlos</td>
      <td>Mosquera Arboleda</td>
      <td>Editar</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>1005605888</td>
      <td>Jose Carlos</td>
      <td>Arboleda</td>
      <td>Editar</td>
     
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>1005605888</td>
      <td>CArlos Mario</td>
      <td>Mosquera Arboleda</td>
      <td>Editar</td>
      
    </tr>
    </tr>
  </tbody>
</table>
            
        </form>
        
       
    

    </div>
    


</body>

</html>