<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/styles1.css">
    <title>AIR GAP</title>
</head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">AIR GAP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/indexUser">Inicio</a></li>
        <li><a href="/searchFlight">Busca tu vuelo</a></li>
        <li><a href="/rateFlight">Califica tu vuelo</a></li>
        <li><a href="/reservaFlight">Reserva tu vuelo</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{session['usuario']}} </a></li>
        <li><a href="/logoutUser"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
    </div>
  </div>
</nav>

<body>

    <div class="container" id="advanced-search-form">
        <h2>Califica tu viaje</h2>
        
        
        <form method="post" action="/rateVuelo">
            <div class="form-group2">
                <label for="first-name">Sugerencias y comentarios</label>
                <input type="text" name="txtSugerencia" class="form-control"  id="first-name" required>
            </div>

            <div class="form-group">
                <label for="number">Genero</label>
                <select name="calificacion" method="GET" class="form-control">
                    <option value="1" selected>Muy malo</option>
                    <option value="2" selected>Malo</option>
                    <option value="3" selected>Regular</option>
                    <option value="4" selected>Bueno</option>
                    <option value="5" selected>Muy bueno</option>
                   
                </select>
            </div>
           
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search">Enviar</button>
        </form>
    </div>
</body>

</html>